<launch>

    <arg name="user_debug" default="false"/>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find go2_description)/xacro/robot2.xacro'
    DEBUG:=$(arg user_debug)"/>

    <node pkg="rviz" type="rviz" name="rviz" respawn="false" output="screen"
        args="-d $(find go2_description)/launch/check_joint.rviz"/>

</launch>